@charset "UTF-8";
* {
  font-family: 微軟正黑體;
}

nav.navbar {
  transition-duration: 0.5s;
}

nav .collapse.navbar-collapse a.nav-link {
  transition: 0.5s;
}
nav .collapse.navbar-collapse a.nav-link:hover {
  color: #ff6e3a;
}

.navbar-top {
  background-color: transparent;
  border-bottom: solid 0.5px rgba(255, 255, 255, 0.5);
}
.navbar-top a.navbar-brand {
  color: rgba(255, 255, 255, 0.8);
}
.navbar-top .collapse.navbar-collapse a.nav-link {
  transition: 0.5s;
  color: rgba(255, 255, 255, 0.8);
}
.navbar-top .collapse.navbar-collapse a.nav-link:hover {
  color: #ff6e3a;
}

.navbar-top .navbar-toggler.custom-navbar {
  border-color: rgba(255, 255, 255, 0.8);
}
.navbar-top .navbar-toggler.custom-navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

header.jumbotron {
  padding: 50px 20px;
  margin-bottom: 0px;
  text-align: center;
  background-image: url(../img/navbar.jpg);
  background-size: cover;
  background-attachment: fixed;
}
header.jumbotron .container {
  color: white;
  padding: 200px 0px;
}
header.jumbotron .container h1 {
  font-weight: normal;
}
header.jumbotron .container hr {
  max-width: 50px;
  border: solid 2px #ff6e3a;
}
header.jumbotron .container h4 {
  color: rgba(255, 255, 255, 0.5);
  font-weight: normal;
}

section {
  padding: 70px 20px;
}

section#section_ask {
  background-color: #ff6e3a;
}
section#section_ask .col-sm-4.img {
  height: 500px;
  background-image: url(../img/sales.png);
  background-repeat: no-repeat;
  background-size: cover;
}
section#section_ask .col-sm-8 {
  display: flex;
  align-items: center;
  padding: 20px;
}

section#section_about img {
  width: 100%;
  height: 100%;
}
section#section_about .img_wrap {
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

section#section_story {
  padding: 70px 0px;
  background-color: #222;
  color: white;
  font-weight: 400;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
section#section_story .ask_form {
  text-align: center;
}
section#section_story .ask_form .label_text {
  width: 100px;
}
section#section_story .ask_form input {
  display: inline-block;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

section#section_salesman {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
section#section_salesman .product_img {
  height: 300px;
  /* background-image: url(https://i.imgur.com/goUTBG7.png); */
  background-repeat: no-repeat;
  background-size: contain;
}

section#section_salesman .sales_img {
  height: 300px;
  /* background-image: url(https://i.imgur.com/goUTBG7.png); */
  background-repeat: no-repeat;
  background-size: contain;
}

footer.jumbotron {
  padding: 50px 20px;
  margin-bottom: 0px;
  text-align: center;
  background-image: url(../img/navbar.jpg);
  background-size: cover;
  background-attachment: fixed;
}
footer.jumbotron input {
  background-color: transparent;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}
footer.jumbotron .container {
  color: white;
  padding: 50px 0px;
}
footer.jumbotron .container h1 {
  font-weight: normal;
}
footer.jumbotron .container hr {
  max-width: 50px;
  border: solid 2px #ff6e3a;
}
