nav.navbar.navbar-dark.navbar-expand-md.fixed-top.navbar-top
	a.navbar-brand(href="#") 野村證券
	button.navbar-toggler.custom-navbar(type="button",data-toggle="collapse",data-target="#navbar_content", aria-controls="#navbar_content", aria-expanded="false" aria-label="Toggle navigation")
		span.navbar-toggler-icon
	#navbar_content.collapse.navbar-collapse
		ul.navbar-nav.ml-auto
			//- li.nav-item
			//- 	a.nav-link(href="#") 首頁 HOME 
			li.nav-item
				a.nav-link(href="#section_ask") 介紹 INTRO 
			li.nav-item
				a.nav-link(href="#section_about") 圖表 IMAGES
			li.nav-item
				a.nav-link(href="#section_story") 推薦 RECOMMEND
			li.nav-item
				a.nav-link(href="#section_salesman") 推薦資訊 CONTENT
header.jumbotron.jumbotron-fluid
	.container
		h1.display-4(data-0="transform: translateY(-50px)" data-500="transform: translateY(100px)") 野村證券，找到屬於你的業務員
		hr
		h4 進階軟體開發資料分析報告
section#section_ask
	.container
		.row
			.col-sm-4.img(data-0="transform: translateX(-200px)" data-500="transform: translateX(0px)")
			.col-sm-8(data-0="opacity: 0;" data-300="opacity: 0;" data-500="opacity: 1;")
				h2 是否常常配對到不適合你的業務員？接到惱人的電話訪問？我們可以找到最適合你的那個業務員
section#section_about
	.container
		.row
			.col-sm-12(data-bottom-top="transform: translateY(-50px); opacity: 0;" data-center="transform: translateY(-0px); opacity: 1;")
				h1 圖表
				hr
			.col-lg-4
				.img_wrap(data-bottom-top="transform: translateY(-50px); opacity: 0;" data-center="transform: translateY(-0px); opacity: 1;")
					img(src="https://i.imgur.com/goUTBG7.png", alt="")
				h3(data-bottom-top="transform: translateY(-50px); opacity: 0;" data-center="transform: translateY(-0px); opacity: 1;") 人地區分佈圖
				p(data-bottom-top="transform: translateY(-50px); opacity: 0;" data-center="transform: translateY(-0px); opacity: 1;") 這是人地區分佈圖這是人地區分佈圖這是人地區分佈圖這是人地區分佈圖這是人地區分佈圖這是人地區分佈圖這是人地區分佈圖這是人地區分佈圖
			.col-lg-4
				.img_wrap(data-bottom-top="transform: translateY(-50px); opacity: 0;" data-center="transform: translateY(-0px); opacity: 1;")
					img(src="https://i.imgur.com/goUTBG7.png", alt="")
				h3(data-bottom-top="transform: translateY(-50px); opacity: 0;" data-center="transform: translateY(-0px); opacity: 1;") 人地區分佈圖
				p(data-bottom-top="transform: translateY(-50px); opacity: 0;" data-center="transform: translateY(-0px); opacity: 1;") 這是人地區分佈圖這是人地區分佈圖這是人地區分佈圖這是人地區分佈圖這是人地區分佈圖這是人地區分佈圖這是人地區分佈圖這是人地區分佈圖
			.col-lg-4
				.img_wrap(data-bottom-top="transform: translateY(-50px); opacity: 0;" data-center="transform: translateY(-0px); opacity: 1;")
					img(src="https://i.imgur.com/goUTBG7.png", alt="")
				h3(data-bottom-top="transform: translateY(-50px); opacity: 0;" data-center="transform: translateY(-0px); opacity: 1;") 人地區分佈圖
				p(data-bottom-top="transform: translateY(-50px); opacity: 0;" data-center="transform: translateY(-0px); opacity: 1;") 這是人地區分佈圖這是人地區分佈圖這是人地區分佈圖這是人地區分佈圖這是人地區分佈圖這是人地區分佈圖這是人地區分佈圖這是人地區分佈圖
			.col-lg-4
				.img_wrap(data-bottom-top="transform: translateY(-50px); opacity: 0;" data-center="transform: translateY(-0px); opacity: 1;")
					img(src="https://i.imgur.com/goUTBG7.png", alt="")
				h3(data-bottom-top="transform: translateY(-50px); opacity: 0;" data-center="transform: translateY(-0px); opacity: 1;") 人地區分佈圖
				p(data-bottom-top="transform: translateY(-50px); opacity: 0;" data-center="transform: translateY(-0px); opacity: 1;") 這是人地區分佈圖這是人地區分佈圖這是人地區分佈圖這是人地區分佈圖這是人地區分佈圖這是人地區分佈圖這是人地區分佈圖這是人地區分佈圖
			.col-lg-4
				.img_wrap(data-bottom-top="transform: translateY(-50px); opacity: 0;" data-center="transform: translateY(-0px); opacity: 1;")
					img(src="https://i.imgur.com/goUTBG7.png", alt="")
				h3(data-bottom-top="transform: translateY(-50px); opacity: 0;" data-center="transform: translateY(-0px); opacity: 1;") 人地區分佈圖
				p(data-bottom-top="transform: translateY(-50px); opacity: 0;" data-center="transform: translateY(-0px); opacity: 1;") 這是人地區分佈圖這是人地區分佈圖這是人地區分佈圖這是人地區分佈圖這是人地區分佈圖這是人地區分佈圖這是人地區分佈圖這是人地區分佈圖
			.col-lg-4
				.img_wrap(data-bottom-top="transform: translateY(-50px); opacity: 0;" data-center="transform: translateY(-0px); opacity: 1;")
					img(src="https://i.imgur.com/goUTBG7.png", alt="")
				h3(data-bottom-top="transform: translateY(-50px); opacity: 0;" data-center="transform: translateY(-0px); opacity: 1;") 人地區分佈圖
				p(data-bottom-top="transform: translateY(-50px); opacity: 0;" data-center="transform: translateY(-0px); opacity: 1;") 這是人地區分佈圖這是人地區分佈圖這是人地區分佈圖這是人地區分佈圖這是人地區分佈圖這是人地區分佈圖這是人地區分佈圖這是人地區分佈圖
section#section_story
	.container-fluid
		.ask_form
			h2 你的資訊
			.name
				input#form_name.form-control(placeholder="名字")
			.sex
				input#form_sex.form-control(placeholder="性別")
			.original_address
				input#form_original_address.form-control(placeholder="戶籍地址")
			.now_address
				input#form_now_address.form-control(placeholder="居住地址")
			br
			button#find_people.btn.btn-light 查找適合業務員與商品
				


section#section_salesman
	.container-fluid
		.row
			.col-lg-6.col-md-12
				h2 推薦業務員
				hr
				li 我是業務員一號
				.sales_img(data-bottom-top="transform: translateY(-50px); opacity: 0;" data-center="transform: translateY(-0px); opacity: 1;")
			.col-lg-6.col-md-12
				h2 推薦商品
				hr
				li 我是商品一號
				.sales_img(data-bottom-top="transform: translateY(-50px); opacity: 0;" data-center="transform: translateY(-0px); opacity: 1;")
				

footer.jumbotron.jumbotron-fluid
	.container
			h2 想了解更多好康資訊嗎？
			input.form-control(placeholder="Email")
			hr
			button.btn.btn-light 訂閱資訊
			
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js', integrity='sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T', crossorigin='anonymous')

